// maybe import them
// @import 'features';
// @import 'download';
// @import 'testimonials';
// @import 'plans';
// @import 'portfolio';
// @import 'team';
// @import 'contact';

#features {
  .feature-listing img {
    height: 32px;
    width: auto;
  }
  h4 {
    line-height: 1;
  }
}

#download {
  background: url('../assets/download/background@2x-1.png') no-repeat center bottom / cover;
  h2, p {
    color: $c-white;
  }
}

#testimonials {
  .testimonial:hover {
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0,0,0, 0.2);
  }
}
// md devices (Tablets)
@media (min-width: $bs-bp-md) {
  #features {
    .feature-listing img {
      height: 38px;
    }
    .img-fluid.object-fit-cover {
      max-width: 180%;
    }
  } 
}

// xl devices (Desktop)
@media (min-width: $bs-bp-xl) {
  #features {
    .feature-listing img {
      height: 44px;
    }
    .img-fluid.object-fit-cover {
      max-width: 100%;
    }
  }
}
