// breakpoints
$bs-bp-xs: 0;
$bs-bp-sm: 576px;
$bs-bp-md: 768px;
$bs-bp-lg: 992px;
$bs-bp-xl: 1200px;
$bs-bp-xxl: 1400px;

// Colors
$c-white: #FFF;
$c-black: #4B4B4B;
$c-darkgray: #7D7D7D;
$c-lightgray: #F6F6F6;
$c-yellow: #EBCB80;

// fonts
$ff-ssp: 'Source Sans Pro', sans-serif;
$ff-os: 'Open Sans', sans-serif;
