@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-light.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-light.otf.woff") format("woff");
  font-weight: "light";
  font-style: 300;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-normal.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-normal.otf.woff") format("woff");
  font-weight: "normal";
  font-style: 400;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-bold.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-bold.otf.woff") format("woff");
  font-weight: "bold";
  font-style: 700;
  font-display: swap;
}
:root {
  --bs-font-sans-serif: Source Sans Pro, sans-serif;
}

body {
  color: #4B4B4B;
}

h1 {
  color: #EBCB80;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1.1px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 2.5rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
}

p, ul li {
  font-size: 0.6875rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  padding: 0.75rem 3rem;
  border-radius: 50px;
  border: 1px solid transparent;
}

button.yellow {
  background-color: #EBCB80;
}

button.gray {
  background-color: #4B4B4B;
  color: #FFF;
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
  }
  h4 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    line-height: 1.875rem;
  }
  p, ul li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  button {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
header {
  color: #FFF;
  background: url("../assets/header/hero-image.png") no-repeat bottom center/cover;
  position: relative;
}
header .container {
  position: relative;
  z-index: 10;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}
header aside img {
  height: 16px;
}
header h2 {
  color: #FFF;
  line-height: 1.5rem;
}
header svg path {
  fill: #FFF;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    letter-spacing: -0.8px;
  }
  header h1 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  header h2 {
    line-height: 2.25rem;
  }
  header .nav {
    --bs-nav-link-color: #FFF;
    --bs-nav-link-hover-color: #FFF;
    --bs-nav-link-font-weight: bold;
    line-height: 1;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  header .nav a {
    color: var(--bs-nav-link-color);
    font-weight: var(--bs-nav-link-font-weight);
  }
  header .nav a:hover {
    color: var(--bs-nav-link-hover-color);
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: -1.6px;
  }
  header h1 {
    font-size: 2.25rem;
    letter-spacing: 2px;
  }
  header aside img {
    height: 24px;
  }
  header .nav {
    font-size: 1.125rem;
  }
  header h2 {
    line-height: 3rem;
  }
  header video + a > img {
    width: 72px;
    height: 72px;
  }
}
#features .feature-listing img {
  height: 32px;
  width: auto;
}
#features h4 {
  line-height: 1;
}

#download {
  background: url("../assets/download/background@2x-1.png") no-repeat center bottom/cover;
}
#download h2, #download p {
  color: #FFF;
}

#testimonials .testimonial:hover {
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
#testimonials img.portrait {
  border-radius: 100px;
  border: 2px solid rgb(230, 230, 230);
}

#plans .plan {
  border-radius: 0.5rem;
  background-size: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #4B4B4B;
  border-radius: 8px;
  grid-area: 1/1/4/2;
}
#plans .plan:nth-child(1) {
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 100%, rgb(255, 255, 255) 100%);
  z-index: 1;
  scale: 92%;
  transform: translateY(-25px);
}
#plans .plan:nth-child(2) {
  background-color: #EBCB80;
  background-image: linear-gradient(225deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 3;
}
#plans .plan:nth-child(3) {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.401127) 100%);
  z-index: 0;
  scale: 85%;
  transform: translateY(-50px);
}
#plans .plan:nth-child(1), #plans .plan:nth-child(3) {
  color: #FFF;
}
#plans .plan:nth-child(1) h4, #plans .plan:nth-child(3) h4 {
  color: #EBCB80;
}
#plans p {
  margin-bottom: 0.5rem;
}
#plans .price {
  font-family: "Open Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.25rem;
  letter-spacing: -1.2px;
  position: relative;
  display: inline-block;
}
#plans .price:before {
  content: "$";
  font-size: 0.75rem;
  line-height: 0.75rem;
  position: absolute;
  top: 5px;
  left: -7px;
}
#plans .price:after {
  content: "Year";
  position: absolute;
  left: 50%;
  margin-left: -14px;
  bottom: -25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
#plans h4.selected {
  background-color: #EBCB80;
  border-radius: 50px;
}
#plans .plan-stack {
  display: grid;
}

#portfolio .pagination {
  --bs-pagination-font-size: .75rem;
  --bs-pagination-color: #4B4B4B;
  --bs-pagination-bg: transparent;
  --bs-pagination-border-radius: 50px;
  --bs-pagination-border-color: transparent;
  --bs-pagination-hover-bg: transparent;
  --bs-pagination-hover-border-color: transparent;
  --bs-pagination-hover-color: #EBCB80;
  --bs-pagination-active-border-color: transparent;
  --bs-pagination-active-bg: transparent;
  --bs-pagination-active-color: #EBCB80;
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-focus-color: transparent;
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-focus-box-shadow: 0px 2px 4px rgba(0,0,0, 0.2);
}
#portfolio .pagination li {
  padding: 0.5rem;
}
#portfolio .pagination .active .page-link {
  box-shadow: var(--bs-pagination-focus-box-shadow);
  border-radius: var(--bs-pagination-border-radius);
}
#portfolio .pagination img {
  height: 1rem;
  width: auto;
}
#portfolio .portfolio-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "item-1 item-2" "item-3 item-3" "item-4 item-5" "item-6 item-6" "item-7 item-7";
}
#portfolio .portfolio-grid div[class^=portfolio-item-] {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] img, #portfolio .portfolio-grid div[class^=portfolio-item-] .info {
  grid-area: 1/1/4/2;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] .info {
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  position: relative;
}
#portfolio .portfolio-grid div[class^=portfolio-item-]:hover .info, #portfolio .portfolio-grid div[class^=portfolio-item-].active .info {
  display: block;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] hgroup:after {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: #FFF;
  margin: 1.125rem 0;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] hgroup p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  letter-spacing: 0.8px;
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 0;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  letter-spacing: -0.5px;
  font-size: 1rem;
  line-height: 2rem;
  margin: 0;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] h2, #portfolio .portfolio-grid div[class^=portfolio-item-] h5, #portfolio .portfolio-grid div[class^=portfolio-item-] h6, #portfolio .portfolio-grid div[class^=portfolio-item-] p, #portfolio .portfolio-grid div[class^=portfolio-item-] a {
  color: #FFF;
}
#portfolio .portfolio-grid div[class^=portfolio-item-].inverted h2, #portfolio .portfolio-grid div[class^=portfolio-item-].inverted h5, #portfolio .portfolio-grid div[class^=portfolio-item-].inverted h6, #portfolio .portfolio-grid div[class^=portfolio-item-].inverted p, #portfolio .portfolio-grid div[class^=portfolio-item-].inverted a {
  color: #4B4B4B;
}
#portfolio .portfolio-grid div[class^=portfolio-item-].inverted hgroup:after {
  background-color: #4B4B4B;
}
#portfolio .portfolio-grid div[class^=portfolio-item-] p {
  margin: 0;
}
#portfolio .portfolio-grid .portfolio-item-1 {
  grid-area: item-1;
}
#portfolio .portfolio-grid .portfolio-item-2 {
  grid-area: item-2;
}
#portfolio .portfolio-grid .portfolio-item-3 {
  grid-area: item-3;
}
#portfolio .portfolio-grid .portfolio-item-4 {
  grid-area: item-4;
}
#portfolio .portfolio-grid .portfolio-item-5 {
  grid-area: item-5;
}
#portfolio .portfolio-grid .portfolio-item-6 {
  grid-area: item-6;
}
#portfolio .portfolio-grid .portfolio-item-7 {
  grid-area: item-7;
}
#portfolio .portfolio-grid .portfolio-item-7.active .info {
  background-color: #F6F6F6;
}
#portfolio .portfolio-grid .portfolio-item-7 h2 {
  font-size: 2rem;
  letter-spacing: -0.5px;
  line-height: 1.75rem;
}
#portfolio .portfolio-grid .stats img, #portfolio .portfolio-grid .views img {
  width: auto;
  height: 12px;
}
#portfolio .portfolio-grid .stats p, #portfolio .portfolio-grid .views p {
  display: inline;
}
#portfolio .portfolio-grid .views {
  position: absolute;
  top: 1.25rem;
  right: 2rem;
}

#team {
  display: grid;
}
#team > img, #team > div {
  grid-area: 1/1/4/2;
}
#team .img-fluid.object-fit-cover {
  height: 150%;
}
#team h2, #team h4, #team p, #team li {
  color: #FFF;
}
#team ul {
  margin: 0;
}
#team ul li {
  font-size: 1.5rem;
  list-style-type: circle;
}
#team ul li.active {
  list-style-type: disc;
}

#contact .map img {
  height: 268px;
  width: auto;
}
#contact .tooltip-address {
  position: absolute;
  width: 190px;
  height: 93px;
  background: url("../assets/contact/Tooltip@2x.png") no-repeat top center/contain;
  background-size: contain;
  top: 30%;
  left: 30%;
}
#contact .contact-form .form-control {
  padding: 0.75rem 0;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #7D7D7D;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #4B4B4B;
}

@media (min-width: 768px) {
  #features .feature-listing img {
    height: 38px;
  }
  #features .img-fluid.object-fit-cover {
    max-width: 180%;
  }
  #plans .plan-stack {
    display: flex;
  }
  #plans .plan-stack .plan {
    scale: 100%;
    transform: translateY(0);
  }
  #portfolio .portfolio-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item-1 item-3 item-3" "item-6 item-6 item-2" "item-4 item-7 item-5";
  }
  #portfolio .portfolio-grid div[class^=portfolio-item-] h5 {
    letter-spacing: -0.6px;
    font-size: 1.5rem;
  }
  #portfolio .portfolio-grid div[class^=portfolio-item-] hgroup:after {
    width: 16px;
    height: 4px;
  }
  #portfolio .portfolio-grid .portfolio-item-7 h2 {
    font-size: 2.25rem;
    letter-spacing: -1px;
    line-height: 2rem;
  }
  #team .img-fluid.object-fit-cover {
    height: auto;
  }
  #contact .map img {
    height: auto;
  }
  #contact .tooltip-address {
    left: 50%;
  }
}
@media (min-width: 1200px) {
  #features .feature-listing img {
    height: 44px;
  }
  #features .img-fluid.object-fit-cover {
    max-width: 100%;
  }
  #plans .price {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -2.6px;
  }
  #plans .price:before {
    font-size: 1.5rem;
    line-height: 1.5rem;
    top: 7px;
    left: -12px;
  }
  #plans .price:after {
    font-size: 1.125rem;
    letter-spacing: 1px;
    margin-left: -20px;
    bottom: -40px;
  }
  #portfolio .pagination {
    --bs-pagination-font-size: 1.125rem;
  }
  #portfolio .pagination img {
    height: 1.5rem;
    width: auto;
  }
  #portfolio .portfolio-grid h5 {
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.8px;
  }
  #portfolio .portfolio-grid hgroup p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 1px;
  }
  #portfolio .portfolio-grid .portfolio-item-7 h2 {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 3.375rem;
  }
  #contact .contact-form .form-control {
    padding: 0.75rem 0;
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
footer {
  color: #FFF;
  background-color: #4B4B4B;
}
footer h1 {
  font-size: 1.5rem;
  letter-spacing: 1.33px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  padding-bottom: 0.5rem;
}
footer a {
  color: #FFF;
}
footer a:hover {
  opacity: 0.8;
}
footer .form-control, footer .input-group-text {
  border-color: #7D7D7D;
}
footer .form-control {
  font-size: 0.75rem;
  background-color: transparent;
}
footer .form-control::-moz-placeholder {
  color: #FFF;
  opacity: 0.5;
}
footer .form-control::placeholder {
  color: #FFF;
  opacity: 0.5;
}
footer .input-group-text {
  background-color: #EBCB80;
}
footer img {
  width: auto;
  height: 18px;
}

@media (min-width: 1200px) {
  footer ul li {
    padding-bottom: 0.75rem;
  }
  footer img {
    height: 24px;
  }
  footer .form-control {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */