@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Light.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-Light.otf.woff") format("woff");
  font-weight: 300;
  font-style: light;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Regular.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-Regular.otf.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/fonts/SourceSansPro-Bold.ttf.woff2") format("woff2"), url("../assets/fonts/SourceSansPro-Bold.otf.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
:root {
  --bs-font-sans-serif: Source Sans Pro, sans-serif;
}

body {
  color: #4B4B4B;
}

h1 {
  color: #EBCB80;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 1.1px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: -0.5px;
  line-height: 2.5rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  text-transform: uppercase;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
}

p, ul li {
  font-size: 0.6875rem;
  line-height: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  padding: 0.75rem 3rem;
  border-radius: 50px;
  border: 1px solid transparent;
}

button.yellow {
  background-color: #EBCB80;
}

button.gray {
  background-color: #4B4B4B;
  color: #FFF;
}

@media (min-width: 1200px) {
  h3 {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2rem;
  }
  h4 {
    font-size: 1.125rem;
    letter-spacing: 1px;
    line-height: 1.875rem;
  }
  p, ul li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  button {
    font-size: 1rem;
    letter-spacing: 1px;
  }
}
header {
  color: #FFF;
  background: url("../assets/header/hero-image.png") no-repeat bottom center/cover;
  position: relative;
}
header .container {
  position: relative;
  z-index: 10;
}
header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}
header aside img {
  height: 16px;
}
header h2 {
  color: #FFF;
  line-height: 1.5rem;
}
header svg path {
  fill: #FFF;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
    letter-spacing: -0.8px;
  }
  header h1 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
  header h2 {
    line-height: 2.25rem;
  }
  header .nav {
    --bs-nav-link-color: #FFF;
    --bs-nav-link-hover-color: #FFF;
    --bs-nav-link-font-weight: bold;
    line-height: 1;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  header .nav a {
    color: var(--bs-nav-link-color);
    font-weight: var(--bs-nav-link-font-weight);
  }
  header .nav a:hover {
    color: var(--bs-nav-link-hover-color);
  }
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: -1.6px;
  }
  header h1 {
    font-size: 2.25rem;
    letter-spacing: 2px;
  }
  header aside img {
    height: 24px;
  }
  header .nav {
    font-size: 1.125rem;
  }
  header h2 {
    line-height: 3rem;
  }
  header video + a > img {
    width: 72px;
    height: 72px;
  }
}
#features .feature-listing img {
  height: 32px;
  width: auto;
}
#features h4 {
  line-height: 1;
}

#download {
  background: url("../assets/download/background@2x-1.png") no-repeat center bottom/cover;
}
#download h2, #download p {
  color: #FFF;
}

#testimonials .testimonial:hover {
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
#testimonials img.portrait {
  border-radius: 100px;
  border: 2px solid rgb(230, 230, 230);
}

#plans .plan {
  border-radius: 0.5rem;
  background-size: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  background-color: #4B4B4B;
  border-radius: 8px;
  grid-area: 1/1/4/2;
}
#plans .plan:nth-child(1) {
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 100%, rgb(255, 255, 255) 100%);
  z-index: 1;
  scale: 92%;
  transform: translateY(-25px);
}
#plans .plan:nth-child(2) {
  background-color: #EBCB80;
  background-image: linear-gradient(225deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: 3;
}
#plans .plan:nth-child(3) {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.401127) 100%);
  z-index: 0;
  scale: 85%;
  transform: translateY(-50px);
}
#plans .plan:nth-child(1), #plans .plan:nth-child(3) {
  color: #FFF;
}
#plans .plan:nth-child(1) h4, #plans .plan:nth-child(3) h4 {
  color: #EBCB80;
}
#plans p {
  margin-bottom: 0.5rem;
}
#plans .price {
  font-family: "Open Sans", sans-serif;
  font-size: 2.25rem;
  line-height: 2.25rem;
  letter-spacing: -1.2px;
  position: relative;
  display: inline-block;
}
#plans .price:before {
  content: "$";
  font-size: 0.75rem;
  line-height: 0.75rem;
  position: absolute;
  top: 5px;
  left: -7px;
}
#plans .price:after {
  content: "Year";
  position: absolute;
  left: 50%;
  margin-left: -14px;
  bottom: -25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
#plans h4.selected {
  background-color: #EBCB80;
  border-radius: 50px;
}
#plans .plan-stack {
  display: grid;
}

@media (min-width: 768px) {
  #features .feature-listing img {
    height: 38px;
  }
  #features .img-fluid.object-fit-cover {
    max-width: 180%;
  }
  #plans .plan-stack {
    display: flex;
  }
  #plans .plan-stack .plan {
    scale: 100%;
    transform: translateY(0);
  }
}
@media (min-width: 1200px) {
  #features .feature-listing img {
    height: 44px;
  }
  #features .img-fluid.object-fit-cover {
    max-width: 100%;
  }
  #plans .price {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: -2.6px;
  }
  #plans .price:before {
    font-size: 1.5rem;
    line-height: 1.5rem;
    top: 7px;
    left: -12px;
  }
  #plans .price:after {
    font-size: 1.125rem;
    letter-spacing: 1px;
    margin-left: -20px;
    bottom: -40px;
  }
}
footer {
  color: #FFF;
  background-color: #4B4B4B;
}
footer h1 {
  font-size: 1.5rem;
  letter-spacing: 1.33px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  padding-bottom: 0.5rem;
}
footer a {
  color: #FFF;
}
footer a:hover {
  opacity: 0.8;
}
footer .form-control, footer .input-group-text {
  border-color: #7D7D7D;
}
footer .form-control {
  font-size: 0.75rem;
  background-color: transparent;
}
footer .form-control::-moz-placeholder {
  color: #FFF;
  opacity: 0.5;
}
footer .form-control::placeholder {
  color: #FFF;
  opacity: 0.5;
}
footer .input-group-text {
  background-color: #EBCB80;
}
footer img {
  width: auto;
  height: 18px;
}

@media (min-width: 1200px) {
  footer ul li {
    padding-bottom: 0.75rem;
  }
  footer img {
    height: 24px;
  }
  footer .form-control {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */