.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .total {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;

    & > div {
      padding: .5rem;
      background: #125699;
      display: flex;
      justify-content: space-between;
      min-width: 150px;
      max-width: 200px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #125699;
      align-items: center;

      div {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .expand-cart {
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        color: #fff;
        font-size: 1.5rem;
        background: none;
        border: none;

        &.visible {
          transform: rotate(180deg);
        }
      }
    }
  }

  ul {
    &.product-list {
      max-height: 50vh;
      overflow-y: auto;
      margin: 0;
      box-shadow: 0 0 12px rgba(180, 180, 180, 0.2);
      position: absolute;
      z-index: 9;
      padding: 1rem;
      background-color: #fff;
      color: #000;
      list-style: none;
      right: 1rem;
      top: 4rem;
      max-width: 400px;
      width: calc(100% - 4rem);
      border-radius: 4px;

      li {

        align-items: center;
        padding: .5rem 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        font-weight: normal;
        .price {
          text-align: right;
          display: grid;
          grid-template-columns: 3fr 1fr;
          justify-content: space-between;
          align-items: center;

          button.delete {
            margin-left: .25rem;
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            border-radius: .25rem;
            padding: .25rem;
            color: #e51b1b;
            cursor: pointer;
            font-size: .5rem;
            transition: color .2s ease-in-out;
            &:hover {
              color: #991212;
            }
          }
        }
      }

      opacity: 0;
      visibility: hidden;
      transition: all .2s ease-in-out;

      &.visible {
        display: block;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

